#user-character {
    border: 5px solid green;
}

.enemy {
    border: 5px solid yellow;
}

#defender {
    border: 5px solid red;
}

.hidden {
    display: none;
}

#attack-outcome {
    white-space: pre-wrap;
}