#user-character img {
    border: 5px solid green;
}

.enemy img {
    border: 5px solid yellow;
}

#defender img {
    border: 5px solid red;
}

#attack-outcome {
    white-space: pre-wrap;
}

.character {
    display: inline-block;
}